api_to_sfdc/src/main/mule/api_to_sfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="39909a25-ad7e-4d58-ad41-b6a14b1ca0ec" >
		<salesforce:cached-basic-connection username="avharwani@deloitte.com.sfdcipoc.dipune" password="sfdcipoc@2019" securityToken="bG756bL3Vp38oniys1OOD0td" url="https://test.salesforce.com/services/Soap/u/43.0" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3d2a3d59-f778-41f8-9011-fb8f5d4ccf29">
		<http:listener-connection host="localhost" port="8089" />
	</http:listener-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="264807ac-4f8a-471c-bd6d-717c045bdc8b"/>
	<flow name="api_to_sfdcFlow" doc:id="97d8066d-9842-459a-8979-8b1ac81782e7" >
		<http:listener doc:name="Listener" doc:id="be916cdc-ee8c-494f-9d6d-8dfdf25249b1" config-ref="HTTP_Listener_config" path="/apisfdc"/>
		<logger level="INFO" doc:name="Logger" doc:id="839918ae-3ef9-4af6-be84-cde67bd04760" message="#[attributes.queryParams.id]"/>
		<choice doc:name="Choice" doc:id="cc861187-327f-4a82-952d-99a560514565" >
			<when expression="#[attributes.method == 'GET']">
				<flow-ref doc:name="GetRequest" doc:id="6bf4af16-8269-4208-b56a-9a04c5bed30c" name="QuerySFDC"/>
			</when>
			<when expression="#[attributes.method == 'POST']">
				<flow-ref doc:name="PostRequest" doc:id="8b0710ca-2ef6-4486-b0d0-0a02fed48bf6" name="CreateAccount"/>
			</when>
			<when expression="attributes.method == 'PATCH'">
				<flow-ref doc:name="Flow Reference" doc:id="2de7fd7e-0af5-46cf-882c-f2b4d1c21531" name="PatchRequest"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="f50d57a0-efc4-4bdd-be2f-ea209e29d464">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="QuerySFDC" doc:id="b9aa5465-e79a-4219-bf7e-37f3d8e1c8a1" >
		<salesforce:query-single doc:name="Query single" doc:id="510baab6-aa19-4389-800c-2d26a26fb6f1" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT AccountSource,AnnualRevenue,BillingAddress,BillingCity,BillingCountry,BillingGeocodeAccuracy,BillingLatitude,BillingLongitude,
BillingPostalCode,BillingState,BillingStreet,CreatedById,CreatedDate,Description,EDY_ORGCUSTOM__DB__c,
EDY_ORGCUSTOM__Old_Name__c,Fax,FN__Find_Nearby__c,FN__Lat__c,FN__Lon__c,FN__Mapping_Status__c,FN__Which_Address__c,
Id,Industry,IsDeleted,Jigsaw,JigsawCompanyId,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,
MasterRecordId,Name,NumberOfEmployees,OperatingHoursId,ORGCUSTOM4_DB__c,ORGCUSTOM4_OLD_NAME__c,OwnerId,ParentId,
Phone,PhotoUrl,ShippingAddress,ShippingCity,ShippingCountry,ShippingGeocodeAccuracy,ShippingLatitude,ShippingLongitude,
ShippingPostalCode,ShippingState,ShippingStreet,SicDesc,SystemModstamp,Type,Website 
FROM Account WHERE Name = ':Name'</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"Name" : attributes.queryParams.Name
}]]]></salesforce:parameters>
		</salesforce:query-single>
		<choice doc:name="Does the account exist" doc:id="f678cb0c-301d-47f2-9c25-4ae059e1942c" >
			<when expression="#[payload.Id != null]">
				<ee:transform doc:name="Salesform Transform Message" doc:id="db93828b-7bff-45e4-8981-b9918f1abe66" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id                  : payload.Id,
	nativeId            : payload.Id,
	name                : payload.Name,
	billingAddress: {
		street       	: payload.BillingStreet,
		city         	: payload.BillingCity,
		state        	: payload.BillingState,
		postalCode   	: payload.BillingPostalCode,
		country      	: payload.BillingCountry
	},
	shippingAddress: {
		street      	: payload.ShippingStreet,
		city        	: payload.ShippingCity,
		state       	: payload.ShippingState,
		postalCode  	: payload.ShippingPostalCode,
		country     	: payload.ShippingCountry
	},
	lastModifiedDate    : payload.LastModifiedDate
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-variable value="404" doc:name="Set Variable" doc:id="dccb37cb-16d9-4805-b524-d4d142f1fcc9" variableName="httpstatus"/>
				<set-payload value='#[{ "message": "Resource not found" }]' doc:name="Set Payload" doc:id="58f19e62-f35b-4d65-81be-5b601f02cd51" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="PatchRequest" doc:id="2f3d32ef-0149-4360-b162-05618611ced4" >
		<logger level="INFO" doc:name="Logger" doc:id="34a84558-92c1-4862-96e7-fcb009fcc0a6" message="#[payload.id]"/>
		<salesforce:query-single doc:name="Query single" doc:id="de1b847b-bc69-473d-8c90-ac1ffc1dc39f" config-ref="Salesforce_Config" target="query">
			<salesforce:salesforce-query >SELECT Name,Id FROM Account WHERE Id = ':Id'</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"Id" : payload.id
}]]]></salesforce:parameters>
		</salesforce:query-single>
		<choice doc:name="Choice" doc:id="bac71cfc-20f1-449a-b19d-da61ee26f97c" >
			<when expression="#[vars.query.Id != null]">
				<ee:transform doc:name="Transform Message" doc:id="d266ce5e-10f3-4b19-a85e-d2115704b8cf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	Id: payload.id as String,
	Name: payload.name,
	BillingStreet: payload.billingAddress.street as String,
	BillingCity: payload.billingAddress.city as String,
	BillingState: payload.billingAddress.state as String,
	BillingPostalCode: payload.billingAddress.postalCode as String,
	BillingCountry: payload.billingAddress.country as String,
	ShippingStreet: payload.shippingAddress.street as String,
	ShippingCity: payload.shippingAddress.city as String,
	(ShippingState: payload.shippingAddress.state as String) if (payload.shippingAddress.state != null),
	(ShippingPostalCode: payload.shippingAddress.postalCode as String) if (payload.shippingAddress.postalCode  != null)
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:update-single doc:name="Update single" doc:id="391684bf-793a-4b20-bd1e-edd49012f542" config-ref="Salesforce_Config" type="Account"/>
				<choice doc:name="Choice" doc:id="ef6e24f5-7394-4232-a056-f9a408345ad8" >
					<when expression="#[payload.success == true]">
						<set-payload value='{ "message": "Account update successfully" }' doc:name="Set Payload" doc:id="b3f41c44-65c7-48f4-ab6f-00f63bd0ad06" />
					</when>
					<otherwise >
						<set-variable value="400" doc:name="Set Variable" doc:id="c3deb323-f575-4c1e-a484-bbfadcacde23" variableName="httpStatus"/>
						<set-payload value='#[{ "message": "Error in Update", "Status": payload.errors.message }]' doc:name="Set Payload" doc:id="35225a8c-79e4-4af5-a8b1-21ad4edfa365" />
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<set-variable value="400" doc:name="Set Variable" doc:id="86055a28-c044-4286-97ce-0ab95cf8395c" variableName="httpStatus"/>
				<set-payload value='#[{ "message": "Resource not found" }]' doc:name="Set Payload" doc:id="f1ef8dfe-d73b-4f62-a6bb-824c2e8dc688" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="CreateAccount" doc:id="44a9d38a-aae0-4b0b-ae1f-ebfde03a83c3" >
		<validation:is-true doc:name="Is true" doc:id="98f0e639-0a66-4b48-8858-2e50524cf791" config-ref="Validation_Config" message='{ message : "Shipping and Billing country not matchin" }' expression="#[payload.billingAddress.city == payload.shippingAddress.city]"/>
		<ee:transform doc:name="Transform Message" doc:id="92e41a0f-256a-4175-a1e7-1dd3176e488c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.name,
	BillingStreet: payload.billingAddress.street as String,
	BillingCity: payload.billingAddress.city as String,
	BillingState: payload.billingAddress.state as String,
	BillingPostalCode: payload.billingAddress.postalCode as String,
	BillingCountry: payload.billingAddress.country as String,  
	ShippingStreet: payload.shippingAddress.street as String,
	ShippingCity: payload.shippingAddress.city as String,
	ShippingState: payload.shippingAddress.state as String,
	ShippingPostalCode: payload.shippingAddress.postalCode as String,
	ShippingCountry: payload.shippingAddress.country as String,
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="15f0b9aa-5a87-40d0-9355-2bca47a61d03" message="ss"/>
		<ee:transform doc:name="Transform Message" doc:id="4c5078e4-c53f-4e79-9f02-0d9b729417b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="922efd0a-223a-4354-9e4b-0749901e2252" config-ref="Salesforce_Config" type="Account"/>
		<logger level="INFO" doc:name="Logger" doc:id="f0d4f090-0711-46e7-9089-b6b30aaffcaa" message="#[payload[0].success]" />
		<choice doc:name="Choice" doc:id="6eab28da-d8b6-487a-9282-b0704022c1e2" >
			<when expression="#[payload[0].success == true]">
				<salesforce:query-single doc:name="Query single" doc:id="adb64362-58e0-4ad2-af43-42fac269a70e" config-ref="Salesforce_Config">
					<salesforce:salesforce-query>SELECT Name, Id FROM Account WHERE Id=
                        ':Id'</salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	"Id" : payload[0].Id
}]]]></salesforce:parameters>
				</salesforce:query-single>
				<ee:transform doc:name="Transform Message" doc:id="0c77bce7-84eb-44a3-ba1d-aeac2d5c32b1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.Id,
	name: payload.Name
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<set-variable value="400" doc:name="Set Variable" doc:id="75e473c5-c8c4-4dfc-af04-3e5570cff34b" variableName="httpStatus"/>
				<set-payload value='#[{ "message": "Failed to create new Account", "Status": payload.errors.message }]' doc:name="Set Payload" doc:id="3d40546f-8103-4037-9069-5d21bb2c4e28" />
			</otherwise>
		</choice>
	</sub-flow>
</mule>
